:root {
  --sf-color-e1e3e2: #e1e3e2;
  --sf-color-111314: #111314;
  --sf-font-weight-400: 400;
  --sf-color-343839: #343839;
  --sf-stroke-1px: 1px;
  --sf-layout-36px: 36px;
  --sf-color-ffffff0b: #ffffff0b;
  --sf-color-d8f49c: #d8f49c;
  --sf-stroke-2px: 2px;
  --sf-stroke-3px: 3px;
  --sf-opacity-0-4: 0.4;
  --sf-color-171a1b: #171a1b;
  --sf-color-dfe3df: #dfe3df;
  --sf-space-9px: 9px;
  --sf-color-c5e69b: #c5e69b;
  --sf-layout-18px: 18px;
  --sf-layout-224px: 224px;
  --sf-layout-260px: 260px;
  --sf-layout-78px: 78px;
  --sf-color-2b2e2f: #2b2e2f;
  --sf-space-26px: 26px;
  --sf-space-25px: 25px;
  --sf-space-13px: 13px;
  --sf-type-25px: 25px;
  --sf-type-3px: -3px;
  --sf-color-d2ebac: #d2ebac;
  --sf-color-6d765e: #6d765e;
  --sf-space-4px: 4px;
  --sf-type-20px: 20px;
  --sf-font-weight-500: 500;
  --sf-type-0-6px: -0.6px;
  --sf-type-8px: 8px;
  --sf-type-1-3px: 1.3px;
  --sf-color-7f8781: #7f8781;
  --sf-space-3px: 3px;
  --sf-type-10px: 10px;
  --sf-type-1px: 1px;
  --sf-color-9da79c: #9da79c;
  --sf-space-10px: 10px;
  --sf-layout-5px: 5px;
  --sf-color-b8d991: #b8d991;
  --sf-space-16px: 16px;
  --sf-color-69726a: #69726a;
  --sf-color-d1e9aa: #d1e9aa;
  --sf-color-182016: #182016;
  --sf-space-11px: 11px;
  --sf-type-12px: 12px;
  --sf-color-e1f7c0: #e1f7c0;
  --sf-color-89918d: #89918d;
  --sf-type-24px: 24px;
  --sf-type-0-7px: -0.7px;
  --sf-space-24px: 24px;
  --sf-color-778079: #778079;
  --sf-space-8px: 8px;
  --sf-color-20261e: #20261e;
  --sf-color-516143: #516143;
  --sf-color-838c86: #838c86;
  --sf-space-5px: 5px;
  --sf-color-95a487: #95a487;
  --sf-layout-67px: 67px;
  --sf-color-111615: #111615;
  --sf-color-8aa5960b: #8aa5960b;
  --sf-layout-1px: 1px;
  --sf-layout-90deg: 90deg;
  --sf-layout-16px: 16px;
  --sf-layout-20px: 20px;
  --sf-type-35px: 35px;
  --sf-type-2px: -2px;
  --sf-layout-7px: 7px;
  --sf-type-6px: 6px;
  --sf-layout-10px: 10px;
  --sf-layout-2px: 2px;
  --sf-type-29px: 29px;
  --sf-layout-12px: 12px;
  --sf-type-58px: 58px;
  --sf-layout-55px: 55px;
  --sf-color-87947c: #87947c;
  --sf-color-646d67: #646d67;
  --sf-type-9px: 9px;
  --sf-space-28px: 28px;
  --sf-space-30px: 30px;
  --sf-color-20262244: #20262244;
  --sf-space-2px: 2px;
  --sf-space-27px: 27px;
  --sf-type-1-7px: 1.7px;
  --sf-color-85917f: #85917f;
  --sf-type-27px: 27px;
  --sf-color-4b5940: #4b5940;
  --sf-color-39413c: #39413c;
  --sf-color-080d0d: #080d0d;
  --sf-color-0004: #0004;
  --sf-layout-22px: 22px;
  --sf-layout-80px: 80px;
  --sf-layout-33px: 33px;
  --sf-color-171d19: #171d19;
  --sf-color-303c33: #303c33;
  --sf-space-12px: 12px;
  --sf-color-91a08c: #91a08c;
  --sf-space-7px: 7px;
  --sf-layout-28px: 28px;
  --sf-layout-27px: 27px;
  --sf-type-7px: 7px;
  --sf-color-070b0c: #070b0c;
  --sf-color-0b1314: #0b1314;
  --sf-color-b6d7ce: #b6d7ce;
  --sf-space-34px: 34px;
  --sf-space-42px: 42px;
  --sf-layout-95px: 95px;
  --sf-space-18px: 18px;
  --sf-type-28px: 28px;
  --sf-type-4px: 4px;
  --sf-space-6px: 6px;
  --sf-layout-650px: 650px;
  --sf-type-44px: 44px;
  --sf-type-1-8px: 1.8px;
  --sf-opacity-0-7: 0.7;
  --sf-type-1-2px: 1.2px;
  --sf-opacity-0-45: 0.45;
  --sf-space-17px: 17px;
  --sf-opacity-0-5: 0.5;
  --sf-layout-44px: 44px;
  --sf-layout-82px: 82px;
  --sf-opacity-0-65: 0.65;
  --sf-color-000: #000;
  --sf-layout-0deg: 0deg;
  --sf-layout-3px: 3px;
  --sf-layout-4px: 4px;
  --sf-layout-32px: 32px;
  --sf-color-080c0d: #080c0d;
  --sf-type-5px: 5px;
  --sf-layout-196px: 196px;
  --sf-space-40px: 40px;
  --sf-space-35px: 35px;
  --sf-color-abc8bc24: #abc8bc24;
  --sf-color-abc8bc16: #abc8bc16;
  --sf-color-91a39c: #91a39c;
  --sf-space-72px: 72px;
  --sf-type-32px: 32px;
  --sf-space-32px: 32px;
  --sf-layout-35px: 35px;
  --sf-color-abc8bc30: #abc8bc30;
  --sf-type-19px: 19px;
  --sf-space-15px: 15px;
  --sf-opacity-0-6: 0.6;
  --sf-layout-100px: 100px;
  --sf-layout-110px: 110px;
  --sf-space-20px: 20px;
  --sf-type-11px: 11px;
  --sf-color-11120e: #11120e;
  --sf-type-26px: 26px;
  --sf-type-43px: 43px;
  --sf-layout-286px: 286px;
  --sf-space-22px: 22px;
  --sf-color-ffffff20: #ffffff20;
  --sf-color-d3bd602e: #d3bd602e;
  --sf-layout-225px: 225px;
  --sf-type-30px: 30px;
  --sf-layout-60px: 60px;
  --sf-color-ff916e: #ff916e;
  --sf-color-151211: #151211;
  --sf-layout-25px: 25px;
  --sf-layout-40px: 40px;
  --sf-space-33px: 33px;
  --sf-type-150px: 150px;
  --sf-layout-24px: 24px;
  --sf-color-ffffff15: #ffffff15;
  --sf-space-14px: 14px;
  --sf-space-23px: 23px;
  --sf-color-ff726b: #ff726b;
  --sf-space-1px: 1px;
  --sf-color-0a151cde: #0a151cde;
  --sf-color-071511a0: #071511a0;
  --sf-color-0a1915dd: #0a1915dd;
  --sf-layout-230px: 230px;
  --sf-layout-180px: 180px;
  --sf-opacity-1: 1;
  --sf-color-ffffff18: #ffffff18;
  --sf-type-55px: 55px;
  --sf-layout-42px: 42px;
  --sf-color-142011: #142011;
  --sf-color-e0f4be: #e0f4be;
  --sf-color-a2aca1: #a2aca1;
  --sf-type-15px: 15px;
  --sf-color-6e7d6e: #6e7d6e;
  --sf-color-343b34: #343b34;
  --sf-stroke-4px: 4px;
  --sf-layout-29px: 29px;
  --sf-color-8e9a8b: #8e9a8b;
  --sf-color-2b3725: #2b3725;
  --sf-color-a3b197: #a3b197;
  --sf-color-71806e: #71806e;
  --sf-color-6d7d6b: #6d7d6b;
  --sf-space-19px: 19px;
  --sf-color-737f70: #737f70;
  --sf-color-919b93: #919b93;
  --sf-color-bacaac: #bacaac;
  --sf-color-6d796e: #6d796e;
  --sf-layout-70px: 70px;
  --sf-color-778575: #778575;
  --sf-color-617455: #617455;
  --sf-color-20291f: #20291f;
  --sf-color-0006: #0006;
  --sf-layout-15px: 15px;
  --sf-layout-50px: 50px;
  --sf-color-101710e0: #101710e0;
  --sf-opacity-0: 0;
  --sf-opacity-0-25: 0.25;
  --sf-layout-250px: 250px;
  --sf-layout-285px: 285px;
  --sf-space-38px: 38px;
  --sf-space-45px: 45px;
  --sf-layout-85px: 85px;
  --sf-layout-190px: 190px;
  --sf-layout-170px: 170px;
  --sf-layout-72px: 72px;
  --sf-type-17px: 17px;
  --sf-layout-134px: 134px;
  --sf-type-23px: 23px;
  --sf-layout-13px: 13px;
  --sf-layout-8px: 8px;
  --sf-color-c5d3bb: #c5d3bb;
  --sf-color-oklch-0-98-0-0: oklch(0.98 0 0);
  --sf-color-oklch-0-15-0-0: oklch(0.15 0 0);
  --sf-color-oklch-0-45-0-0: oklch(0.45 0 0);
  --sf-color-c3c3bf: #c3c3bf;
  --sf-space-36px: 36px;
  --sf-layout-58px: 58px;
  --sf-font-weight-700: 700;
  --sf-type-1-5px: -1.5px;
  --sf-type-1-4px: 1.4px;
  --sf-layout-206px: 206px;
  --sf-layout-6px: 6px;
  --sf-layout-183px: 183px;
  --sf-layout-48px: 48px;
  --sf-font-weight-600: 600;
  --sf-type-0-5px: 0.5px;
  --sf-color-e5e5e1: #e5e5e1;
  --sf-color-fff: #fff;
  --sf-color-c9c9c6: #c9c9c6;
  --sf-space-47px: 47px;
  --sf-layout-11px: 11px;
  --sf-layout-9px: -9px;
  --sf-color-1515150c: #1515150c;
  --sf-layout-1-8px: 1.8px;
  --sf-type-22px: 22px;
  --sf-layout-38px: 38px;
  --sf-color-16161624: #16161624;
  --sf-color-eeeeea: #eeeeea;
  --sf-color-e8e6e1: #e8e6e1;
  --sf-color-f8f8f5: #f8f8f5;
  --sf-color-171717: #171717;
  --sf-color-a7a7a1: #a7a7a1;
  --sf-color-080d12: #080d12;
  --sf-color-0e171f: #0e171f;
  --sf-color-233642: #233642;
  --sf-color-80dce5: #80dce5;
  --sf-color-6e8d9b: #6e8d9b;
  --sf-color-d6e2e5: #d6e2e5;
  --sf-color-e9d27b: #e9d27b;
  --sf-layout-34px: 34px;
  --sf-color-80dce50c: #80dce50c;
  --sf-type-34px: 34px;
  --sf-type-21px: 21px;
  --sf-layout-79px: 79px;
  --sf-color-0d131a: #0d131a;
  --sf-layout-97px: 97px;
  --sf-color-0c1015: #0c1015;
  --sf-layout-540px: 540px;
  --sf-color-80dce550: #80dce550;
  --sf-layout-633px: 633px;
  --sf-color-0a1118: #0a1118;
  --sf-opacity-0-55: 0.55;
  --sf-layout-39px: 39px;
  --sf-color-111921: #111921;
  --sf-type-0-4px: 0.4px;
  --sf-space-21px: 21px;
  --sf-layout-601px: 601px;
  --sf-layout-74px: 74px;
  --sf-layout-37px: 37px;
  --sf-color-0b1117: #0b1117;
  --sf-color-80dce510: #80dce510;
  --sf-color-111e27: #111e27;
  --sf-color-0c151e: #0c151e;
  --sf-layout-130deg: 130deg;
  --sf-layout-426px: 426px;
  --sf-layout-290px: 290px;
  --sf-layout-17px: 17px;
  --sf-color-9ebfbd: #9ebfbd;
  --sf-color-111d26: #111d26;
  --sf-layout-46px: 46px;
  --sf-layout-45px: 45px;
  --sf-layout-255px: 255px;
  --sf-layout-235px: 235px;
  --sf-layout-420px: 420px;
  --sf-color-80dce509: #80dce509;
  --sf-space-65px: 65px;
  --sf-layout-75px: 75px;
  --sf-layout-125px: 125px;
  --sf-layout-205px: 205px;
  --sf-color-101921: #101921;
  --sf-color-15212a: #15212a;
  --sf-type-18px: 18px;
  --sf-layout-158px: 158px;
  --sf-color-101e27: #101e27;
  --sf-space-29px: 29px;
  --sf-layout-430px: 430px;
  --sf-color-142a32: #142a32;
  --sf-color-0b131c: #0b131c;
  --sf-layout-350px: 350px;
  --sf-color-111b24: #111b24;
  --sf-type-0-8px: 0.8px;
  --sf-layout-435px: 435px;
  --sf-color-10232d: #10232d;
  --sf-color-090f16: #090f16;
  --sf-color-101a23: #101a23;
  --sf-layout-202px: 202px;
  --sf-color-14212b: #14212b;
  --sf-layout-54px: 54px;
  --sf-color-101820: #101820;
  --sf-type-13px: 13px;
  --sf-layout-131px: 131px;
  --sf-color-80dce507: #80dce507;
  --sf-type-31px: 31px;
  --sf-layout-214px: 214px;
  --sf-layout-197px: 197px;
  --sf-layout-432px: 432px;
  --sf-color-17232a: #17232a;
  --sf-opacity-0-8: 0.8;
  --sf-type-14px: 14px;
  --sf-layout-278px: 278px;
  --sf-layout-185px: 185px;
  --sf-layout-56px: 56px;
  --sf-layout-124px: 124px;
  --sf-color-03080deb: #03080deb;
  --sf-layout-700px: 700px;
  --sf-color-0e1821: #0e1821;
  --sf-color-0005: #0005;
  --sf-layout-41px: 41px;
  --sf-layout-300px: 300px;
  --sf-color-172333: #172333;
  --sf-color-090d14: #090d14;
  --sf-layout-590px: 590px;
  --sf-layout-150px: -150px;
  --sf-layout-21px: 21px;
  --sf-type-46px: 46px;
  --sf-layout-61px: 61px;
  --sf-color-17242e: #17242e;
  --sf-layout-57px: 57px;
  --sf-stroke-9px: 9px;
  --sf-layout-30px: 30px;
  --sf-layout-195px: 195px;
  --sf-color-101e28: #101e28;
  --sf-type-41px: 41px;
  --sf-color-80dce533: #80dce533;
  --sf-color-80dce51a: #80dce51a;
  --sf-color-80dce522: #80dce522;
  --sf-color-28ffff: #28ffff;
  --sf-color-ff245e: #ff245e;
  --sf-color-251218: #251218;
  --sf-color-0b131ce8: #0b131ce8;
  --sf-color-05080c: #05080c;
  --sf-layout-450px: 450px;
  --sf-color-80dce529: #80dce529;
  --sf-color-000b: #000b;
  --sf-layout-90px: 90px;
  --sf-color-b9f5ff28: #b9f5ff28;
  --sf-color-26eaff: #26eaff;
  --sf-color-ff406a: #ff406a;
  --sf-color-00ffff09: #00ffff09;
  --sf-color-ff005509: #ff005509;
  --sf-color-aff: #aff;
  --sf-color-aef: #aef;
  --sf-color-8883: #8883;
  --sf-opacity-0-35: 0.35;
  --sf-type-42px: 42px;
  --sf-layout-92px: 92px;
  --sf-layout-164px: 164px;
  --sf-color-07120de6: #07120de6;
  --sf-color-9ad9c044: #9ad9c044;
  --sf-color-07120df0: #07120df0;
  --sf-layout-800px: 800px;
  --sf-color-e020383b: #e020383b;
  --sf-color-b52b442e: #b52b442e;
  --sf-color-360511: #360511;
  --sf-color-aa1230: #aa1230;
  --sf-color-ee3e5a: #ee3e5a;
  --sf-color-ff6979: #ff6979;
  --sf-color-6e1125: #6e1125;
  --sf-color-e34a60: #e34a60;
  --sf-color-e027392b: #e027392b;
  --sf-type-2-4px: 2.4px;
  --sf-color-ed294816: #ed294816;
  --sf-layout-91px: 91px;
  --sf-layout-96px: 96px;
  --sf-layout-26px: 26px;
  --sf-color-778792: #778792;
  --sf-layout-210px: 210px;
  --sf-type-16px: 16px;
  --sf-type-0-3px: 0.3px;
  --sf-layout-14px: 14px;
  --sf-layout-415px: 415px;
  --sf-color-7ce0b4: #7ce0b4;
  --sf-layout-215px: 215px;
  --sf-color-ffffff12: #ffffff12;
  --sf-type-77px: 77px;
  --sf-opacity-5: .5;
  --sf-opacity-4: .4;
  --sf-opacity-6: .6;
  --sf-opacity-25: .25;
  --sf-color-ae19362b: #ae19362b;
  --sf-color-ff5268: #ff5268;
  --sf-color-28342a: #28342a;
  --sf-color-9aaa85: #9aaa85;
  --sf-color-d6edb6: #d6edb6;
  --sf-layout-680px: 680px;
  --sf-color-14191d: #14191d;
  --sf-color-47534f: #47534f;
  --sf-color-0009: #0009;
  --sf-color-35423c: #35423c;
  --sf-color-2c392c: #2c392c;
  --sf-color-a4bc88: #a4bc88;
  --sf-color-111719: #111719;
  --sf-layout-160px: 160px;
  --sf-layout-330px: 330px;
  --sf-color-192224: #192224;
  --sf-color-aacb8d: #aacb8d;
  --sf-color-80e5d0: #80e5d0;
  --sf-color-92a98e: #92a98e;
  --sf-color-080e11: #080e11;
  --sf-layout-340px: 340px;
  --sf-layout-62px: 62px;
  --sf-layout-120px: 120px;
  --sf-layout-140px: 140px;
}
